<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1S" stopProcessing="true">
	<match url="^(.*)$"  />
	<action type="Rewrite" url="/index.php/{R:1}"  appendQueryString="true" />
</rule>

      </rules>
    </rewrite>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/somedir/oops404.htm" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
</configuration>